*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
background-color: #F3E1F3;
color: black;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px  0;
}

.imagem-principal{
    width:20% ;
}

.lista-principal{
    display: inline-block;
    margin: 0  16px;
    font-size: 24px;
}
.futuro{
    background-color: cornflowerblue;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.div-conteudo{
    width: 35%;
}
.titulo{
    padding: 24px 0;
}
.imagem-do-futuro{
    width: 20%;}

    .imagem-insta {
        width: 5%;
    }
    .imagem-watts{
        width: 20%;
    }

.logo{
    
}
.imagem-insta,
.imagem-watts {
    width: 50px; /* Define um tamanho fixo */
    height: 50px; /* Mantém a proporção */
    object-fit: cover; /* Evita distorção */
}
section:last-of-type {
    background-color: #D8A7D9;  /* Cor de fundo lilás */
    padding: 20px 0;             /* Espaço interno (topo e fundo) */
    text-align: center;          /* Centraliza o conteúdo */
    color: white;                /* Cor do texto */
}

section:last-of-type a {
    margin: 0 10px;              /* Espaçamento entre os ícones */
}

section:last-of-type img {
    width: 40px;                 /* Tamanho dos ícones */
    height: 40px;                /* Tamanho dos ícones */
    object-fit: cover;           /* Para garantir que a imagem não distorça */
}